body {
    font-family: verdana, geneva, sans-serif;
    font-size: 18px;
    line-height: 1.3;
    color: #555;
}

div.highlight {
    background-color: #333;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

/*
 *  HEADING
 */

div.header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

div.header p.heading {
    margin-bottom: 0px;
    font-size: 40px;
}

div.header p.subheading {
    font-variant: small-caps;
    margin-bottom: 0px;
}

div.header p.subheading a:link {
    text-decoration: none;
    color: #555;
}

div.header p.subheading a:visited {
    text-decoration: none;
    color: #555;
}

div.header p.subheading a:active {
    font-weight: bold;
    text-decoration: none;
    color: #555;
}

div.header p.subheading a:hover {
    text-decoration: underline;
    color: #555;
}


/*
 *  POST
 */

div.post {
    text-align: justify;
}

div.post h1 {
    font-variant: small-caps;
    color: #888;
    font-size: 30px;
}

div.post h2 {
    font-variant: small-caps;
    color: #888;
    font-size: 25px;
}

div.post h3 {
    font-variant: small-caps;
    color: #888;
    font-size: 20px;
}

div.post tt {
    color: olive;
}

div.post a {
    color: darkcyan;
    text-decoration: none;
}

div.post a:link {
    color: darkcyan;
    text-decoration: none;
}

div.post a:visited {
    color: darkcyan;
    text-decoration: none;
}

div.post a:hover {
    color: darkcyan;
    text-decoration: underline;
}

div.post a:active {
    color: darkcyan;
    text-decoration: none;
}

/*
 *  POST TITLE
 */

div.post p.title {
    color: #888;
    font-variant: small-caps;
    font-size: 35px;
    text-align: left;
}

div.post p.title a:link {
    color: #888;
    text-decoration: none;
}

div.post p.title a:visited {
    color: #888;
    text-decoration: none;
}

div.post p.title a:hover {
    color: #888;
    text-decoration: underline;
}

div.post p.title a:active {
    color: #888;
    text-decoration: none;
}

/*
 *  POST DATE
 */

div.postdate {
    font-size: 12px;
    text-align: center;
}

/*
 *  FOOTER
 */

div.footer {
    color: #aaa;
    font-size: 12px;
    text-align: center;
}

div.footer a {
    color: darkcyan;
    text-decoration: none;
}

div.footer a:link {
    color: darkcyan;
    text-decoration: none;
}

div.footer a:visited {
    color: darkcyan;
    text-decoration: none;
}

div.footer a:hover {
    color: darkcyan;
    text-decoration: underline;
}

div.footer a:active {
    color: darkcyan;
    text-decoration: none;
}
