body {
    font-family: cronos-pro, verdana, geneva, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    color: #757373;
    background-color: #FEFDFD;
}

code {
    font-size: 14px;
    font-family: anonymous-pro, courier;
}

div.highlight {
    background-color: #002b36;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 20px;
}

div.highlight pre {
    margin-bottom: 0px;
}

sup {
    font-size: 12px;
    vertical-align: super;
}

/*
 *  HEADING
 */

div.header {
    font-family: p22-fllw-eaglefeather, verdana, geneva, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

div.header p.heading {
    margin-bottom: 0px;
    font-size: 40px;
}

div.header p.subheading {
    font-variant: small-caps;
    margin-bottom: 0px;
}

div.header p.subheading a:link {
    text-decoration: none;
    color: #555;
}

div.header p.subheading a:visited {
    text-decoration: none;
    color: #555;
}

div.header p.subheading a:active {
    font-weight: bold;
    text-decoration: none;
    color: #555;
}

div.header p.subheading a:hover {
    text-decoration: underline;
    color: #555;
}


/*
 *  POST
 */

div.post {
    text-align: justify;
}

div.post h1 {
    font-variant: small-caps;
    color: #2A2A2A;
    font-size: 30px;
}

div.post h2 {
    font-variant: small-caps;
    color: #2A2A2A;
    font-size: 25px;
}

div.post h3 {
    font-variant: small-caps;
    color: #2A2A2A;
    font-size: 20px;
}

div.post code {
    color: #890103;
}

div.post tt {
    color: #890103;
}

div.post a {
    color: #890103;
    text-decoration: none;
}

div.post a:link {
    color: #890103;
    text-decoration: none;
}

div.post a:visited {
    color: #890103;
    text-decoration: none;
}

div.post a:hover {
    color: #890103;
    text-decoration: underline;
}

div.post a:active {
    color: #890103;
    text-decoration: none;
}

/*
 *  POST TITLE
 */

div.post p.title {
    color: #2A2A2A;
    font-variant: small-caps;
    font-size: 35px;
    text-align: left;
}

div.post p.title a:link {
    color: #2A2A2A;
    text-decoration: none;
}

div.post p.title a:visited {
    color: #2A2A2A;
    text-decoration: none;
}

div.post p.title a:hover {
    color: #2A2A2A;
    text-decoration: underline;
}

div.post p.title a:active {
    color: #2A2A2A;
    text-decoration: none;
}

/*
 *  POST DATE
 */

div.postdate {
    font-size: 12px;
    text-align: center;
}

div.twitter {
    text-align: center;
}
/*
 *  FOOTER
 */

div.footer {
    color: #757373;
    font-size: 12px;
    text-align: center;
}

div.footer a {
    color: #890103;
    text-decoration: none;
}

div.footer a:link {
    color: #890103;
    text-decoration: none;
}

div.footer a:visited {
    color: #890103;
    text-decoration: none;
}

div.footer a:hover {
    color: #890103;
    text-decoration: underline;
}

div.footer a:active {
    color: #890103;
    text-decoration: none;
}
